*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body{
    overflow-x: hidden;
}

/* MENU DE ICONES */

.backmenu{
    display: flex;
    background-color: #276BA2;
    width: 100%;
    max-height: 3.5rem;
    min-height: 2.7rem;
    filter: drop-shadow(0px 25px 12px rgba(0, 0, 0, 0.25));
    justify-content: space-between;
    height: 100%;
}

.icon-user a{
    color: black;
    font-size: 50px;
    font-size: clamp(3.125em, 1em + 1vw, 1.5em);
    padding-right: 2rem;
}

.icons1{
    padding-left: 4rem;
    padding-left: 3%;
}

.menubar2{
    display: flex;
    background-color: #13283C;
    height: 256px;
    width: 100%;
    justify-content: space-between;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.25));
    width: 18rem;
}

.logo img{
    width: 100%;
}

/* BARRA DE BUSCA */
.form-control{
    background-color:#ffffffb7;
}

.d-flex{
    width:40%;
    min-width:20rem;
    margin-top: 6.7rem;
    height: 60px;
    border-radius: 50px;
    background-color:transparent;
}

.btn-search{
    width: 70px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    background-color:#ffffffb7;
}

/* BOTÃO DE LOGIN/CADASTRO */

.log-cad{
    margin-top: 100px;
    margin-right: 6%;
}

.btn-primary{
    height: 65px;
    background: #276BA2;
    font-size: clamp(1.25em, 1.10em, 1em);
    border-radius: 35px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 20px;
}

.btn-primary:hover{
    background-color: #114e80;
}

#loginb{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: clamp(0.7em, 0.10em, 0.5em);
    margin-left: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.categoria{
    width: 100%;
    height: 100px;
    left: 0px;
    top: 994px;
    background-color: #154369;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
}

/*               MENU DROPDOWN            */

.drop{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.dropdown:last-child{
    margin-right: 0;
}

.dropdown button{
    border: 0;
    background: #276BA2;
    color: white;
    padding: 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}

.dropdown button:hover, 
.dropdown button.active{
    background: #114e80;
}

.dropdown button .icon,
.dropdownul li a .icon{
    font-size: 21px;
    align-items: center;
}

.dropdown ul{
    display: none;
    width: 250px;
    background: #276BA2;
    border-radius: 3px;
    margin-top: 5;
    position: absolute;
    z-index: 1;
    padding-left: 5;
}

.dropdown ul li a{
    display: flex;
    height: 50px;
    color: white;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17px;
}

.dropdown ul li a:hover{
    background: #114e80;
    color: #b3aaaa;
}

.dropdown.drop_desktop .icon{
    display: none;
}

.dropdown.drop_desktop ul li a{
    justify-content: center;
}

.dropdown.drop_mobile button,
.dropdown.drop_mobile ul{
    width: 75px;
}

.dropdown.drop_mobile .text{
    display: none;
}

.dropdown.drop_mobile ul li a{
    padding: 16px 25px;
    font-size: 25px;
}

.dropdown.drop_mobile .icon{
    margin: 0;
    display: inline-block;
}

.dropdown button.active + ul{
    display: block;
}

.drop_mobile{
    display: none;
}

.mobile_drop_items{
    display: none;
}

.categoria a{
    font-size: clamp(1.10em, 1.10em, 1em);
    text-decoration: none;
}

.categoria .button{
    background-color: #276BA2;
    display: inline-block;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 25;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
}

.categoria .button:hover{
    background-color: #114e80;
}

/*                    ---BANNER---                  */

#bannerdiv{
    width: 100%;
    height: 3%;
    background-color: #276BA2;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

/*                    ---MAIN SITE---                  */

#backbody{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-image: linear-gradient(116.09deg, #242f3f 1.32%, #050505 99.98%, rgba(36, 32, 32, 0.166667) 99.99%, rgba(33, 29, 29, 0) 100%);
}

/*                    ---CONTAINER PRODUTO---                  */

.title{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.item-a{
    padding-left: 35px;
}

.tbox{
    width: 240px;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 10%;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.slide-img{
    height: 270px;
    position: relative;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
    background-color: #114e80;
    justify-content: space-between;
    padding: 10px 5px;
}

.btn-comprar{
    justify-content: center;
    display: flex;
    text-align: center;
}

.type{
    display:flex;
    flex-direction: column;
}

.type a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.81rem;
}

.type span{
    color: #ABA5A5;
    font-size: 0.9rem;
}

#n-price{
    color: #0FB600;
    font-size: 1.3rem;
}

.buy-btn{
    text-decoration: none;
    background: #063d69;
    color: white;
    padding: 5px;
    width: 100%;
    text-transform: uppercase;
}

.buy-btn ion-icon{
    font-size: 20px;
}

.mainbox1.l1{
    color: white;
    font-size: 0.81em;
}

.mainbox1.l2{
    color: #ABA5A5;
    font-size: 0.9em;
}

.mainbox1.l3{
    color: #0FB600;
    font-size: 1.3em;
}

/*                    ---BANNER E DEPARTAMENTOS---                  */

.title1{
    display: flex;
    padding-top: 40px;
    padding-right: 8%;
    justify-content: center;
    padding-bottom: 50;
    justify-items: center;
}

.title1 button{
    border: none;
    font-size: 20;
    background: #276BA2;
    color: white;
    padding: 5px 10%;
}

.container2{
    display: flex;
    padding-left: 12%;
    padding-top: 15;
    justify-content: center;
}

.imgdep{
    width: 1000px;
    height: 500px;
    margin-bottom: 50;
}

#depimg{
    width: 200px;
    height: 200px;
}

.bannerpromo{
    padding-right: 9%;
    margin-top: 40px;
}

/*                           FOOTER E-MAIL                      */

.footermail{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 93px;
    background: #112129
}

#receba{
    display:flex;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 230;
    padding-right: 50;
    padding-top: 20;
}

.input-group{
    align-items: center;
    width: 65%;
}

.input-group button{
    height: 40;
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 13px;
    align-items: center;
    border: none;
    margin-left: 60px;
    color: white;
    background: #276BA2;
    height: 60;
}

.input-group button:hover{
    background-color: #114e80;
}

.input-group-text{
    background-color:#ffffffb7;
}

/*                        FOOTER INFO                         */

.footerdiv{
    display: flex;
    width: 100%;
    height: 409px;  
    background: #152634;
    color: white;
    padding:30px;
    text-decoration: none;
    justify-content: space-around;
}

.footerdiv ul li h3{
    font-size: 24px;
}

.footerdiv ul li a{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 26px;
}

.gamediv{
    position: absolute;
    margin-top: 293px;
    text-align: center;
}

/*                   PAGINA DE LOGIN E CADASTRO                  */

.abalogin{
    display: flex;
}

#titlelogin{
    display: flex;
    align-items: flex-end;
    color: white;
    padding-top: 3%;
    padding-left: 8%;
    font-size: 15px;
    position: absolute;
}

#arealogin{
    background-color: #276ba2d8;
    color: white;
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    width: 530px;
}

#areacadastro{
    background-color: #276ba2d8;
    color: white;
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    width: 530px;
}

.box-login-cadastro,
.boxlogin,
.boxcad{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 3%;
}

.boxlogin{
    padding-left: 30;
}

.boxcad{
    padding-right: 30;
}

.form-login{
    height: 55px;
    margin-top: 20px;
}

.inputbtn{
    background-color: #154369;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;
    margin-top: 20px;
}

.inputbtn:hover{
    background-color: #043f70;
    padding: 15px;
    border: none;
    width: 100%;
    font-size: 1.3rem;
}

.form-check{
    font-size: 13px;
}

#loginicon{
    font-size: 60px;
}

/*             Código de responsividade            */

@media screen and (max-width: 1000px) {
    .logo{
        /* background: red; */
        width: 140px;
        padding-top: 2%px;
        padding-left: 0px;
        filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.25));
        max-width: 18rem;
        min-width: 9rem;
    }

    .menubar1{
        display: none;
    }
    
    .menubar2{
        display: flex;
        background-color: #276BA2;
        max-height: 256px;
        min-height: 140px;
        height: 80;
        width: 100%;
        justify-content: center;
    }
    
    .form-control{
        background-color:#ffffffb7;
    }

    .d-flex{
        display: flex;
        width:65%;
        margin-top: 5%;
        height: 60px;
        border-radius: 50px;
        background-color:transparent;
    }

    .btn-search{
        width: 70px;
        border-radius: 5px;
        border: none;
        font-size: 30px;
        background-color:#ffffffb7;
    }

    .drop_mobile{
        display: flex;
        height: 50px;
        margin-top: 5.5%;
    }

    .drop_desktop_icon{
        justify-content: center;
        width: 100%;
    }
    
    .dropdown button{
        width: 100%;
        border: 0;
        background: #276BA2;
        color: white;
        padding: 10px;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: 0.5s ease;
        cursor: pointer;
    }
    
    .dropdown ul{
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    
    .dropdown ul li a{
        height: 40px;
        justify-content: center;
    }
    
    .icon{
        display: none;
    }

    .mobile_drop_items{
        display: block;
        background-color: #043f70;
        padding-left: 0;
        border: #050505;
    }

    #disable_mobile{
        display: none;
    }
    
    .log-cad{
        display: none;
    }
    
    .bannerpromo{
        display: none;
    }

    .container2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footermail{
        display: none;
    }

    .footerdiv{
        display: flex;
        width: 100%;
        background: #152634;
        color: white;
        padding:10px;
        text-decoration: none;
        justify-content: space-around;
    }
    
    .footerdiv ul li h3{
        font-size: 18px;
    }
    
    .footerdiv ul li a{
        font-size: 14px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .depdiv,
    .cttdiv{
        display: none;
    }

    .gamediv{
        position: absolute;
        margin-top: 293px;
        text-align: center;
    }

}

@media screen and (max-width: 1310px) {
    .img-d3{
        display: none;
    }
}

@media screen and (max-width: 1060px) {
    .img-d2{
        display: none;
    }

    .imgdep{
        width: 500px;
        height: 500px;
    }
}


/*                    ---TESTE---                  */