*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

/* .menu{
    display: inline-block;
    position: relative;
} */

.backmenu{
    display: flex;
    background-color: #276BA2;
    width: 100%;
    height: 3.5rem;
    justify-content: flex-end;
    align-items: center;
}

.u{
    padding-right: 3.6rem;
}

.menubar2{
    display: flex;
    background-color: #13283C;
    height: 256px;
    width: 100%;
}

.logo{
    padding-top: 21px;
    padding-left: 50px;
    filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.25));
    max-width: 240;
    min-width: 120;
}

.Barrabusca{
    padding-top: 6.7rem;
    padding-left: 20rem;
    justify-content: center;
}

#divBusca{
    background-color:#D9D9D9;
    border-radius:20px;
    width:558px;
    height: 62;
    justify-content: flex-end;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-top: 20;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:60px;
    width:490px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.log-cad{
    padding-top: 100px;
    padding-left: 3rem;
    justify-content: flex-end;
}

#cadastrob{
    display: flex;
    width: 250px;
    height: 74px;
    text-decoration: none;
    color: white;
    background-color: #276BA2;
    display: inline-block;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    border-radius: 35px;
    padding-top: 20px;
}

#loginb{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 4px;
}

.categoria{
    width: 100%;
    height: 100px;
    left: 0px;
    top: 994px;
    background-color: #154369;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.catbar{
    
}

.categoria a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: 900;
}

.categoria .button{
    background-color: #276BA2;
    display: inline-block;
    color: white;
    text-align: center;
    width: 330;
    height: 80px;
    padding-top: 15;
}

.categoria .button:hover{
    background-color: #114e80;
}

#bannermenu{
    display: inline-block;
    position: relative;
}

#bannermenu figcaption {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    padding-right: 120px;
    padding-top: 100px;
}

#bannerbtn{
   text-decoration: none;
   text-align: center;
   color: white;
   width: 250px;
   height: 74px;
   background-color: #276BA2;
   font-size: 45px;

}

#bannerdiv{
   position: flex;
   width: 100%;
   height: 2%;
   background-color: #276BA2;
}

/*                 MAIN DO SITE                    */

#backbody{
    display: flex;
    width: 100%;
    height: 2000;
    left: 0px;
    justify-content: center;
    background: linear-gradient(116.09deg, #354967 1.32%, #050505 99.98%, rgba(36, 32, 32, 0.166667) 99.99%, rgba(33, 29, 29, 0) 100%);
}

.title1{
    padding-top: 40px;
    text-align: center;
    position:absolute;
    
}

.textproduto{
    display: flex;
    width: 550px;
    height: 74px;
    text-decoration: none;
    color: white;
    background-color: #276BA2;
    display: inline-block;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    border-radius: 35px;
}

.catalogo1{
    justify-content: center;
    display: flex;
    padding-top: 110px;
}

.catalogo1 .containerproduto{
    border: 1px solid #000000;
    background-color: #3c3e3f;
    width: 250px;
    height: 370px;
    margin-top: 7%;
    margin-left: 4%;
    padding: 3px;
}

.catalogo1 .containerproduto .prod1{
    color: white;
    font-size: 13px;
}

.catalogo1 .containerproduto .prod2{
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 8px;
    color: #ABA5A5;
}

.catalogo1 .containerproduto .prod3{
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    padding-left: 4px;
    color: #0FB600;
}

.title2{
    padding-top: 40px;
    text-align: center;
    position:absolute;
    padding-top: 500;
}

.textproduto2{
    display: flex;
    width: 300px;
    height: 74px;
    text-decoration: none;
    color: white;
    background-color: #276BA2;
    display: inline-block;
    padding: 10px 10px;
    font-size: 26px;
    text-align: center;
    border-radius: 35px;
}
